<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Document</title>
</head>
<body>
<div id="container" class="container" v-cloak>
    <div class="header">
        <div class="titre">
            <p>
                Wishlist (<span id="nb-medias"></span>)
            </p>
        </div>
        <div class="recherche">
            <input id="recherche" type="text" v-model="searchString" placeholder="Rechercher" />
            <img src="pictos/22/filter.png" alt="Icône filtres d'ajustement">
        </div>
    </div>
    <div class="content" v-if="affichage">
        <div id="medias" v-for="m in filtrer">

            <img class="media-img" :src="m.doc.visuel">
            <div class="media-textes">

                <h3 v-if="m.doc.type == 'musique'" class="musique-titre">{{ m.doc.titre }}</h3>
                <h3 v-if="m.doc.type == 'BD'" class="BD-titre">{{ m.doc.titre }}</h3>
                <h3 v-if="m.doc.type == 'film'" class="film-titre">{{ m.doc.titre }}</h3>
                <h3 v-if="m.doc.type == 'jeux'" class="jeux-titre">{{ m.doc.titre }}</h3>


                <p id="media-first-line">
                    <span v-if="m.doc.artiste" class="bold musique">
                        {{ m.doc.artiste }} -
                    </span>
                    <span v-if="m.doc.auteur" class="bold livre">
                        {{ m.doc.auteur }} -
                    </span>
                    <span v-if="m.doc.realisateur" class="bold film">
                        {{ m.doc.realisateur }} -
                    </span>
                    <span v-if="m.doc.console" class="bold jeux">
                        {{ m.doc.console }} -
                    </span>


                    <span v-if="m.doc.edition">
                        {{ m.doc.edition }} -
                    </span>

                    <span v-if="m.doc.nb_titres">
                        {{ m.doc.nb_titres }} titre(s)
                    </span>
                    <span v-if="m.doc.nb_pages" >
                        {{ m.doc.nb_pages }} pages
                    </span>
                    <span v-if="m.doc.duree">
                        {{ m.doc.duree }} minutes
                    </span>
                    <span v-if="m.doc.pegi">
                        {{ m.doc.pegi }}
                    </span>
                </p>
                <p id="media-second-line">
                    <span class="bold">
                        {{ m.doc.support }} -
                    </span>
                    <span>
                        {{ m.doc.parution }}
                    </span>
                </p>
            </div>
            <button v-on:click="addMedia(m.doc._id)" class="btn-add">
                <img src="pictos/52/add.png" class="icon-btn" alt="Icône d'ajout">
            </button>
        </div>
        <a href="collection.html">
            <button>Ma collection</button>
        </a>
    </div>
    <div class="footer">
        <div id="account" class="footer-content">
            <img src="pictos/48/account.png" class="footer-img" alt="Icône compte utilisateur">
        </div>
        <div id="home" class="footer-content">
            <img src="pictos/48/home.png" class="footer-img" alt="Icône accueil">
        </div>
        <div id="settings" class="footer-content">
            <img src="pictos/48/settings.png" class="footer-img" alt="Icône paramètres">
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
<script>
    var db = new PouchDB('db_api');
    var dbUser = new PouchDB('db_utilisateur');
    var nbMediasTot = 0;
    var nbMediasFiltre = 0;

    var medias = new Vue({
        el : '#container',
        data : {
            searchString: "",
            tabMedias: [],
            affichage: false,
        },

        mounted()
        {
            var vm = this;
            db.sync('https://5f27fc86-3f3f-472c-a0a4-d8e736af858d-bluemix:c1f2fabb64ca498b4b4e93f1e2672f0361facfce1c1d932b59020b0f47ba6419@5f27fc86-3f3f-472c-a0a4-d8e736af858d-bluemix.cloudantnosqldb.appdomain.cloud/db_api')
                .then(function (doc) {
                    return db.allDocs({include_docs: true})
                }).then(function (doc) {
                vm.tabMedias = doc.rows;
                vm.affichage = true;
                nbMediasTot = vm.tabMedias.length;
                console.log(vm.tabMedias);
            }).catch(function (err) {
                console.log(err);
            });

            dbUser.sync('https://5f27fc86-3f3f-472c-a0a4-d8e736af858d-bluemix:c1f2fabb64ca498b4b4e93f1e2672f0361facfce1c1d932b59020b0f47ba6419@5f27fc86-3f3f-472c-a0a4-d8e736af858d-bluemix.cloudantnosqldb.appdomain.cloud/db_utilisateur', {live: true})
                .then(function (doc) {
                    return dbUser.allDocs({include_docs: true})
                }).catch(function (err) {
                console.log(err);
            });
        },

        computed : {
            filtrer : function(){
                var tableau = this.tabMedias;
                searchString = this.searchString;
                if(!searchString)
                {
                    nbMediasFiltre = nbMediasTot;
                }
                else
                {
                    searchString = searchString.trim().toLowerCase();
                    // Filtre sur titre
                    tableau = tableau.filter(function(medias){
                        if(medias.doc.titre.toLowerCase().indexOf(searchString) !== -1)
                        {
                            return medias;
                        }
                    })
                    nbMediasFiltre = tableau.length;
                }
                document.getElementById("nb-medias").innerHTML = nbMediasFiltre + ' résultats';
                return tableau;

            }
        },

        methods: {
            addMedia : function(id){
                db.get(id).then(function(doc) {
                    return dbUser.put({
                        _id: doc._id,
                        visuel: doc.visuel,
                        type: doc.type,
                        titre: doc.titre,
                        artiste: doc.artiste,
                        auteur: doc.auteur,
                        realisateur: doc.realisateur,
                        edition: doc.edition,
                        console: doc.console,
                        nb_titres: doc.nb_titres,
                        nb_pages: doc.nb_pages,
                        duree: doc.duree,
                        pegi: doc.pegi,
                        support: doc.support,
                        parution: doc.parution
                    });
                }).then(function(response) {
                    console.log(response);
                }).catch(function (err) {
                    console.log(err);
                });
            },
        }

    })



</script>
</body>
</html>