@import url('https://fonts.googleapis.com/css2?family=Comfortaa|Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';

}

.header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-areas: 'titre' 'recherche';
    position: fixed;
}

.titre{
    grid-area: titre;
    background-color: #444444;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

.content{
    margin-top: 100px;
}

.recherche{
    grid-area: recherche;
    background-color: #cccccc;
    height: 50px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
}

.footer{
    grid-area: footer;
    height: 70px;
    background-color: darkviolet;
    display: grid;
    grid-template-areas: 'account home settings';
}
.picto-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#account{
    grid-area: account;
    background-color: #cccccc;
}

#home{
    grid-area: home;
    background-color: #999999;
}

#settings{
    grid-area: settings;
    background-color: #444444;
}

@media only screen and (min-width: 768px) {
    .header {

    }
}