<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Document</title>
</head>
<body>
<div id="container" class="container" v-cloak>
        <div class="header" v-show="displayHeader">
            <div class="titre">
                <p>
                    Ma collection (<span id="nb-medias"></span>)
                </p>
            </div>
            <div class="recherche">
                <input id="recherche" type="text" v-model="searchString" placeholder="Rechercher" />
                <img src="pictos/22/filter.png" alt="Icône filtres d'ajustement">
            </div>
        </div>
        <div class="content" v-if="display === 'mes-medias'">
            <div id="medias" v-for="(m, id) in filtrer">
                <img class="media-img" :src="m.doc.visuel">
                <div class="media-textes">
                    <h3 :class="m.doc.type + '-color'" v-on:click="displayDetailMedia(id)">{{ m.doc.titre }}</h3>


                    <p id="media-first-line">
                    <span v-if="m.doc.artiste" class="bold musique">
                        {{ m.doc.artiste }} -
                    </span>
                        <span v-if="m.doc.auteur" class="bold livre">
                        {{ m.doc.auteur }} -
                    </span>
                        <span v-if="m.doc.realisateur" class="bold film">
                        {{ m.doc.realisateur }} -
                    </span>
                        <span v-if="m.doc.console" class="bold jeux">
                        {{ m.doc.console }} -
                    </span>


                        <span v-if="m.doc.edition">
                        {{ m.doc.edition }} -
                    </span>

                        <span v-if="m.doc.nb_titres">
                        {{ m.doc.nb_titres }} titre(s)
                    </span>
                        <span v-if="m.doc.nb_pages" >
                        {{ m.doc.nb_pages }} pages
                    </span>
                        <span v-if="m.doc.duree">
                        {{ m.doc.duree }} minutes
                    </span>
                        <span v-if="m.doc.pegi">
                        {{ m.doc.pegi }}
                    </span>
                    </p>
                    <p id="media-second-line">
                    <span class="bold">
                        {{ m.doc.support }} -
                    </span>
                        <span>
                        {{ m.doc.parution }}
                    </span>
                    </p>
                </div>
                <button v-on:click="deleteMedia(m.doc._id)" class="btn-add">
                    <img src="pictos/22/delete.png" class="icon-btn" alt="Icône de suppression">
                </button>
            </div>
            <a href="appli.html" class="bouton">Voir la wishlist</a>
        </div>

    <div id="detail-media" v-if="display === 'detail-media'">
            <img class="img-header" :src="detailMedia.doc.visuel">
            <div id="detail-media-infos">
                <h1 :class="detailMedia.doc.type + '-color' + ' detail-media-titre'">{{ detailMedia.doc.titre }}</h1>
                <h2 :class="detailMedia.doc.type + '-color' + ' detail-media-support'">{{ detailMedia.doc.support }}</h2>

                <p class="detail-media-infos">
                    <span class="bold">Titre :</span>
                    <span>{{ detailMedia.doc.titre }}</span>
                </p>

                <p v-if="detailMedia.doc.artiste" class="detail-media-infos">
                    <span class="bold">Artiste :</span>
                    <span>{{ detailMedia.doc.artiste }}</span>
                </p>
                <p v-if="detailMedia.doc.auteur" class="detail-media-infos">
                    <span class="bold">Auteur :</span>
                    <span>{{ detailMedia.doc.auteur }}</span>
                </p>
                <p v-if="detailMedia.doc.realisateur" class="detail-media-infos">
                    <span class="bold">Réalisateur :</span>
                    <span>{{ detailMedia.doc.realisateur }}</span>
                </p>
                <p v-if="detailMedia.doc.console" class="detail-media-infos">
                    <span class="bold">Console :</span>
                    <span>{{ detailMedia.doc.console }}</span>
                </p>

                <p class="detail-media-infos">
                    <span class="bold">Parution :</span>
                    <span>{{ detailMedia.doc.parution }}</span>
                </p>

                <p v-if="detailMedia.doc.edition" class="detail-media-infos">
                    <span class="bold">Éditeur :</span>
                    <span>{{ detailMedia.doc.edition }}</span>
                </p>

                <p class="detail-media-infos">
                    <span class="bold">Format :</span>
                    <span>{{ detailMedia.doc.support }}</span>
                </p>

                <p v-if="detailMedia.doc.nb_titres" class="detail-media-infos">
                    <span class="bold">Titres :</span>
                    <span>{{ detailMedia.doc.nb_titres }} titre(s)</span>
                </p>
                <p v-if="detailMedia.doc.nb_pages" class="detail-media-infos">
                    <span class="bold">Pages :</span>
                    <span>{{ detailMedia.doc.nb_pages }} pages</span>
                </p>
                <p v-if="detailMedia.doc.duree" class="detail-media-infos">
                    <span class="bold">Durée :</span>
                    <span>{{ detailMedia.doc.duree }} minutes</span>
                </p>
                <p v-if="detailMedia.doc.pegi" class="detail-media-infos">
                    <span class="bold">PEGI :</span>
                    <span>{{ detailMedia.doc.pegi }}</span>
                </p>
            </div>
        <a href="collection.html" class="bouton">Retour</a>
    </div>

    <div class="footer">
        <div id="account" class="footer-content">
            <img src="pictos/48/account.png" class="footer-img" alt="Icône compte utilisateur">
        </div>
        <div id="home" class="footer-content">
            <img src="pictos/48/home.png" class="footer-img" alt="Icône accueil">
        </div>
        <div id="settings" class="footer-content">
            <img src="pictos/48/settings.png" class="footer-img" alt="Icône paramètres">
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
<script>
    var dbUser = new PouchDB('db_utilisateur');
    var nbMediasTot = 0;
    var nbMediasFiltre = 0;

    var medias = new Vue({
        el : '#container',
        data : {
            searchString: "",
            tabMedias: [],
            displayHeader: true,
            display: 'mes-medias',
            detailMedia: {},
        },
        mounted()
        {
            var vm = this;
            dbUser.sync('https://5f27fc86-3f3f-472c-a0a4-d8e736af858d-bluemix:c1f2fabb64ca498b4b4e93f1e2672f0361facfce1c1d932b59020b0f47ba6419@5f27fc86-3f3f-472c-a0a4-d8e736af858d-bluemix.cloudantnosqldb.appdomain.cloud/db_utilisateur')
                .then(function (doc) {
                    return dbUser.allDocs({include_docs: true})
                }).then(function (doc) {
                vm.tabMedias = doc.rows;
                vm.affichage = true;
                nbMediasTot = vm.tabMedias.length;
            }).catch(function (err) {
                console.log(err);
            });
        },

        computed : {
            filtrer : function(){
                var tableau = this.tabMedias;
                searchString = this.searchString;
                if(!searchString)
                {
                    nbMediasFiltre = nbMediasTot;
                }
                else
                {
                    searchString = searchString.trim().toLowerCase();
                    // Filtre sur titre
                    tableau = tableau.filter(function(medias){
                        if(medias.doc.titre.toLowerCase().indexOf(searchString) !== -1)
                        {
                            return medias;
                        }
                    })
                    nbMediasFiltre = tableau.length;
                }
                document.getElementById("nb-medias").innerHTML = nbMediasFiltre + ' résultats';
                return tableau;

            }
        },

        methods: {
            deleteMedia : function(id){
                var tableau = this.tabMedias;
                dbUser.get(id).then(function(doc) {
                    dbUser.remove(doc);
                    return location.reload();
                }).then(function(response) {
                    console.log(response);
                }).catch(function (err) {
                    console.log(err);
                });
            },
            displayDetailMedia: function(id) {
                this.display = 'detail-media';
                this.detailMedia = this.filtrer[id];
                this.displayHeader = false;
            }
        }

    })

</script>
</body>
</html>